.bg-green {
  background-color: rgb(85, 190, 85);
}

.jumbotron {
  background-image: url('../img/sfondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-trasparent {
  background-color: rgba(0, 0, 0, 0.5);

}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.train-ticket {
  height: 250px;
}